@import "./_variables.scss";

@media only screen and (max-width: 400px) {
body { font-size:1vmax;}
}

@media only screen and (max-width: 800px) {
body { font-size:1.5vmax;}
}

@media only screen and (max-width: 1100px) {
body { font-size:2vmax;}
}

.navbar {
	background-color: $primary;
	.navbar-brand {
		color: $secondary;
	}
}

h3 {
	width:220px;
	margin-right:3px;
}

label {
	width:60%;
	max-width:75%;
	margin-right:0px;
}


#anomes {
	width:2em;
	margin-right:3px;
}

input,select {
	width:5.2em;
	margin-right:3px;
}

th,td {
	padding: 0 5px;
	text-align: right
}

.money {
	color: $primary;
}

tbody,tfoot tr:first-child {
	border-top: $primary solid 1px;
}
